<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yusril.skripsi_app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SkripsiAPp"
        android:usesCleartextTraffic="true">
        <activity android:name=".ui.aditif.activity.MenuAditifActivity"></activity>
        <activity android:name=".ui.multiplikatif.activity.MultiplikatifDataTypeActivity" />
        <activity android:name=".ui.aditif.activity.AditifDataTypeActivity" />
        <activity android:name=".ui.forecastFuture.activity.ForecastFutureActivity" />
        <activity android:name=".ui.calculate.activity.CalculateActivity" />
        <activity android:name=".ui.datatourist.activity.DataTouristAttractionActivity" />
        <activity android:name=".ui.datatourist.activity.EditDataTouristActivity" />
        <activity android:name=".ui.datatourist.activity.AddDataTouristActivity" />
        <activity android:name=".ui.datatourist.activity.DataTouristActivity" />
        <activity android:name=".ui.login.LoginActivity" />
        <activity android:name=".ui.TouristDataType.activity.EditTouristDataTypeMainActivity" />
        <activity android:name=".ui.TouristDataType.activity.AddTouristDataTypeActivity" />
        <activity android:name=".ui.TouristDataType.activity.TouristDataTypeActivity" />
        <activity android:name=".ui.splashscreen.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.main.MainActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>